<!DOCTYPE! html>
<html lang="en">
  <head>
    <title>Module 3</title>
    <meta charset="utf-8"> <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
    <div class="container">
      <header>
	<nav id="main">
	  <ul> <li><a href="/admin">Main</a></li>
	    <li><a href="/admin/create_user">Create User</a></li>
	  </ul>
	</nav>
      </header>
      <div class="content">
	<div> <h2>Maintenance Users</h2>
	  <br><br>
	  <ul>
	    {% for user in users%}
	    <li><a href="/admin/modify_user">{{ user[0] }}</a>  ||  {{user[1]}} <a href="/admin/delete_user"><strong>delete</strong></href> </li>
{% endfor %}
</ul>
</div>
<!-- -->
</div>
</div>
<br><br>
</body>
</html>
