<!DOCTYPE! html>
<html lang="en">
  <head>
    <title>Module 3</title>
    <meta charset="utf-8"> <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
    <div class="container">
      <header>
	<nav id="main">
	  <ul><li><a href="/">Home</a></li>
	    <li><a href="/gallery">Gallery</a></li>
	    <li><a href="/upload">Upload</a></li>
	  </ul>
	</nav>
      </header>
      <div class="content">
	<div> <h2>Welcome!</h2>
	  <br><br>
	  <ul>

	    <li><a href='/gallery'>View Gallery</li>
	    <li><a href="/upload">Upload New Image</a></li>

	  </ul>
	</div>
	<!-- -->
      </div>
    </div>
    <br><br>
  </body>
</html>
